.grid-container {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
}
.grid-item {
  text-align: center;
}
p {
  font-weight: bold;
  color: #3B3B3B;
}
h2{
  color: #3B3B3B;
}
button{
  color: white !important;
}
