<div class="grid-container">
  <h2 class="grid-item">Pick a Category</h2>
  <mat-form-field class="grid-item">
    <mat-label>Category</mat-label>
    <mat-select [(value)]="selectedCategory">
      <mat-option *ngFor="let category of categories" [value]="category.value">
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <button class="grid-item" mat-raised-button [disabled]="!selectedCategory" (click)="startClick()" color="primary">Start</button>
  </div>
</div>
