<table mat-table [dataSource]="testResults" class="mat-elevation-z8">

  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element">
      <a routerLink="{{element.index}}">{{element.index}}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let element">
      <a routerLink="{{element.index}}">{{element.category}}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="scored">
    <th mat-header-cell *matHeaderCellDef> Scored Number </th>
    <td mat-cell *matCellDef="let element"> {{element.scored}} </td>
  </ng-container>

  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef> Total Questions Number </th>
    <td mat-cell *matCellDef="let element"> {{element.questions.length}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
