<div class="grid-container">
  <h2 class="grid-item">Questions {{question.index}}</h2>
  <div class="grid-item">
    <div class="difficulty" [ngStyle]="{'background-color': ( question.difficulty === 'easy' ? '#60a67a' :
                                                      (question.difficulty === 'medium' ? '#e4c643' : '#e0835e' ))}">
      <span>
        {{question.difficulty | titlecase }}
      </span>
    </div>
  </div>
  <h2 class="grid-item">{{question.question}}</h2>

  <div class="grid-item button-container"
       [ngStyle]="{'grid-template-columns': ( question.type === 'boolean' ? 'repeat(2, 1fr)' : 'repeat(4, 1fr)')}">
    <ng-container *ngFor="let answer of answers">
      <button mat-raised-button (click)="selectAnswer(answer)">{{answer}}</button>
    </ng-container>
  </div>
</div>
