.grid-container {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
}
.grid-item {
  text-align: center;
  display: flex;
  justify-content: center;
}
p {
  font-weight: bold;
  color: #3B3B3B;
}
.difficulty {
  color: white;
  width: 20%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
h2{
  color: #3B3B3B;
}
button{
  color: #3B3B3B;
  border: 2px solid  #105926 !important;
  border-radius: 10px;
  padding: 10px 10px;
  height: fit-content !important;
  word-wrap: break-word;
  display: inline-block;
}

.button-container{
  display: grid;
  gap: 10px;
  grid-template-columns :repeat(2, 1fr);
}
