<div class="grid-container">
  <div class="content grid-item" role="main">
    <h1>{{title}}</h1>

    <div class="card-container">
      <a class="card" [routerLink]="['/dashboard']">
        <span>Dashboard</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
        </svg>
      </a>

      <a class="card"  [routerLink]="['/quiz']">
        <span>Quiz</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
        </svg>
      </a>

    </div>

  </div>
  <div class="content grid-item">
    <router-outlet></router-outlet>
  </div>

</div>
