<div class="grid-container">
  <h2 class="grid-item title">Thank you</h2>

  <h2 class="grid-item">You Score: {{scored}}/{{total}}</h2>

  <div class="grid-item button-container">
    <button mat-raised-button (click)="backToHome()">Back to home</button>
  </div>
</div>
