.grid-container {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
}
.grid-item {
  text-align: center;
}
.title {
  color: #105926;
  font-weight: bold;
}
h2{
  color: #3B3B3B;
}
button{
  color: #3B3B3B;
  border: 2px solid  #105926 !important;
  border-radius: 10px;
}
.button-container{
  display: grid;
  gap: 10px;
}
