.grid-container {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
}
.grid-item {
  text-align: center;
  margin: 10px;
}
svg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  stroke-width: 2;
}
.svg-incorrect{
  color: red;
}
.svg-correct{
  color: green;
}
