<div class="grid-container">
  <p class="grid-item">Test {{testResult.index}}</p>
  <p class="grid-item">Category: {{testResult.category}}</p>
  <p class="grid-item">Result: {{testResult.scored}}/{{testResult.questions.length}}</p>

  <div class="grid-item">
    <table mat-table [dataSource]="testResult.questions" class="mat-elevation-z8">

      <ng-container matColumnDef="question">
        <th mat-header-cell *matHeaderCellDef> Question </th>
        <td mat-cell *matCellDef="let element"> {{element.question}} </td>
      </ng-container>

      <ng-container matColumnDef="difficulty">
        <th mat-header-cell *matHeaderCellDef> Difficulty </th>
        <td mat-cell *matCellDef="let element"> {{element.difficulty}} </td>
      </ng-container>

      <ng-container matColumnDef="correct_answer">
        <th mat-header-cell *matHeaderCellDef> Correct Answer </th>
        <td mat-cell *matCellDef="let element"> {{element.correct_answer}} </td>
      </ng-container>


      <ng-container matColumnDef="selected_answer">
        <th mat-header-cell *matHeaderCellDef> Selected Answer </th>
        <td mat-cell *matCellDef="let element"> {{element.selected_answer}} </td>
      </ng-container>

      <ng-container matColumnDef="is_correct">
        <th mat-header-cell *matHeaderCellDef> Is Correct </th>
        <td mat-cell *matCellDef="let element">
          <svg *ngIf="element.selected_answer === element.correct_answer"
               xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512" class="svg-correct">
            <title>ionicons-v5-e</title>
            <polyline points="416 128 192 384 96 288" style="fill:none;stroke:green;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
          </svg>
          <svg *ngIf="element.selected_answer !== element.correct_answer"
               xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="svg-incorrect bi bi-x" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
  <div class="grid-item">
    <button mat-raised-button (click)="back()">Back to Dashboard</button>
  </div>

</div>
